@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=JetBrains+Mono:wght@400;500;700&display=swap');

body {
  font-family: 'Almarai';
}

.v-field__field,
.v-messages__message,
.v-alert__content,
.v-alert,
.v-banner,
.v-form
{
  direction: rtl;
}

.direction {
  direction: rtl;
}

.decoration {
  text-decoration: none;
}

.pointerEvents {
  pointer-events: none;
}


.loadingImg {
  animation: loadingImg 1.5s infinite;
}

.scale img{
  transform: scale(1.1);
  transition: all 0.1s linear;
}

@keyframes loadingImg {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
